{% extends "layout.html" %}

{% block title %}Dati no API{% endblock %}

{% block body %}

        <h2>Dinamiski iegūti dati no API</h2>

        <div class="flex-container">
                <div class="filter-container">
                        <div>
                                <a>Vakances Nosaukums:</a>
                                <form action="/data">
                                        <input type="text" name="filtertext">
                                        <input type="submit" value="Filtrēt">
                                </form>
                        </div>
                </div>
                <div class="table-container">
                        {{ table | safe }}
                </div>
            </div>
            
            

        <a href="/">Uz galveno lapu</a>

{% endblock %}