{% extends "layout.html" %}

{% block title %}Dati no API{% endblock %}

{% block body %}

<h2>Dinamiski iegūti dati no API</h2>
<div class="flex-container">
        <div class="left-container">
                <div class="filter-container">
                        <form action="/" method="post">
                        <div class="wrapper">
                                <a class="first">Vakances Nosaukums:</a>
                                <div class="second">
                                <input type="text" name="nosaukums">
                                <input type="submit" value="Filtrēt">
                                </div>
                        </div>
                        <div class="wrapper">
                                <a class="first">From</a>
                                <div class="second">
                                <input type="text1" name="MinWage">
                                <b>€</b>
                                <a> to</a>
                                <input type="text1" name="MaxWage">
                                <b>€</b>
                                </div>
                        </div>
                        <div class="wrapper">
                                <a class="first">Location:</a>
                                <div class="second">
                                <input type="text1" name="Location">
                                </div>
                        </div>
                        </form>
                </div>
                </div>
                <div class="right-container">
                        <div class="table-container">
                                <table>
                                        {{ table | safe }}
                                </table>
                        </div>
                </div>
        </div>
</div>
            
            

        <a href="/">Uz galveno lapu</a>

{% endblock %}