<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="bckgrnd"></div>
    <div class="topnav">
        <a href="/">Galvenā lapa</a>
        <a href="/about">Par mums</a>
        <div class="dropdown">
            <span class="welcome-message">Labdien, {{ session.get('username', '') }}</span>
            <div class="dropdown-content">
                <a href="/logout" id="logout-button">Izrakstīties</a> 
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>